<div>
    <% if(todos.length > 0) { %>
        <div class="container">
            <ul class="list-unstyled text-center mx-auto  p-5 ">
                <% for(let item of todos) { %>
                    <li class=" mx-5 my-2 px-0 py-3">
                        <div class="alert <%=  item.done ? 'alert-success':'alert-secondary' %> ">
                            <%= item.text %>
                            <a href="/admin/delete-todo/<%= item.id %>"><i class="fa fa-trash text-danger mx-3"></i></a>
                            <a href="admin/done-todo/<%= item.id %> "><i class="fa fa-check text-success "></i></a>
                        </div>
                    </li>

                <% } %>
            </ul>
        </div>
    <% }else { %>
        <div class="alert alert-warning text-center">
            <h3>موردی نیست </h3>
        </div>
    <% } %>
</div>